h1 {
	padding: 5px;
}

.emphasis {
	font-weight: bold;
	font-family: 'Comic Sans';
}

.components-container, .properties-container {
	margin: 10px 2px 2px 0;
}

.properties-container {
	border: 1px solid;
	border-radius: 5px;
}

.component-item { 
  width: 100px; 
  height: 30px; 
  padding: 0.5em; 
  float: left; 
  margin: 2px 2px 2px 0; 
  border: solid 1px;
  border-radius: 5px;
}

.property-item {  
  padding: 0.5em; 
  float: left; 
  margin: 2px 2px 2px 0;
}

.component-content {
	align-content: center;
}

.component-table {
	border: 1px solid;
}

.component-heading {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 18px;
}

.component-image {
  width: 200px;
  height: 150px;
  content: url("./images/placeholder.png");
  padding: 12px 20px;
}


.input-no-border {
	 border: 1px solid ghostwhite;
}

#droppable { width: 800px; height: 1200px; padding: 0.5em; float: left; margin: 10px; }

.page-container { background: white; }

#header { background-color: white; }



